@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
   "foundation/components/keystrokes",
   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";

body {
  background: #FCFAF9;
}

.body-locked {
    overflow: hidden;
}

.full-page {
  position: relative;
  height: 100%;
}

.logo {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  
  img {
    display: block;
    margin:0 auto;
    width: 60%;
    min-width: 250px;
  }
}

footer {
  padding: 0 25px;
}

.side-bar {
  nav {
    position: fixed;
    top: 40%;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
    ul {
      margin: 0;
    }
    li {
      padding-top: 3px;
      list-style: none;
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.block-grid-small {
  margin: 0 auto;
  padding: 0 25px;
  
  li {
    overflow-x: hidden;
    float: none;
    display: inline-block;
    // This property must be set to match the side spacing
    padding-bottom: rem-calc(5);
  }
  img {
    vertical-align: baseline;
    width: 100%;
    max-width: 100%;
  }
}

// Modal Stuff

.modal-container {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0; 
  right: 0;
  height: 100%; 
  width: 100%;
  
  button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: none;
    font-size: 2em;
    padding: 0 10px;
    
    &:focus {
      outline: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modal {
  position: relative;
  padding: 10px 200px 10px 10px;
  width: 60%;
  margin: 200px auto 500px auto;
  background: #FFF;
}

/*helper styles*/

.dp-none {
    display: none !important;
}

.dp-block {
    display: block !important;
}

