/********************
Global Variables & Mixins
********************/

$bodyTextColor: #000;
$baseFontSize: 22px;
$leftPagePadding: 3rem;
$fontStack: 'kunstuff', serif;

@mixin bp-large {
	@media only screen and (max-width: 60em) {
		@content;
	}
}

@mixin bp-medium {
	@media only screen and (max-width: 40em) {
		@content;
	}
}

@mixin bp-small {
	@media only screen and (max-width: 30em) {
		@content;
	}
}

/********************
Global Styles
********************/

@font-face {
	font-family: 'kunstuff';
	src: url('../font/kunstuff_medium-webfont.eot');
	src: url('../font/kunstuff_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../font/kunstuff_medium-webfont.woff2') format('woff2'), url('../font/kunstuff_medium-webfont.woff') format('woff'), url('../font/kunstuff_medium-webfont.ttf') format('truetype'), url('../font/kunstuff_medium-webfont.svg#kunstuffmedium') format('svg');
	font-weight: medium;
	font-style: medium;
}

html {
  font-size: 1.1rem;
  font-family: $fontStack;
}

* {
  box-sizing: border-box;
}

body {
  background: #FFF;
  padding-bottom: 6rem;
}

a {
  color: $bodyTextColor;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/********************
Utility Classes
********************/

.wrapper {
  padding-left: $leftPagePadding;
  
  @include bp-medium {
    padding-left: 0;
  }
  
}

/********************
Page Header & Navigation
********************/

.page-header {
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  
  @include bp-medium {
    position: static;
  }
  
  .desktop-header {
    @include bp-medium {
      display: none;
    }
  }
  
  .wrapper {
    max-width: 1200px;
  }
  
  .logo {
    float: left;
    
    h1 {
      margin: 0;
    }
    img {
      height: 1rem;
    }
  }
  
  .tagline {
    float: left;
    position: relative;
    left: 200px;
    
    h2 {
      margin: 0;
    }
    
    @include bp-large {
      left: 50px;
    }
    
    @include bp-medium {
      left: 20px;
    }
  }
  
  nav {
    float: right;
    line-height: 1.3;
    
    li {
      display: inline-block;
    }
  }
  
  .mobile-header {
    padding: 0 10px;
    
    @media only screen and (min-width: 40em) {
      display: none;
    }
    
    select {
      width: 100%;
    }
    
    .logo img {
      width:100%;
      height: auto;
    }
  }
}

/********************
Image Gallery
********************/

.works-gallery {
  clear:both;
  padding-top: 6.25rem;
  
  @include bp-medium {
    padding-top: 0;
  }
  
  img {
    vertical-align: bottom;
  }
  
  li {
    display: inline-block;
    margin: 0 20px 20px 0;
    
    @include bp-medium {
      margin: 5px 10px;
    }
  }
}

/********************
Page Footer
********************/

footer {
  
  @include bp-medium {
    padding-left: 10px;
  }
}

// Modal Stuff 

.body-locked {
  overflow: hidden;
}

.modal-container {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0; 
  left: 0;
  height: 100%; 
  width: 100%;
  
  button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background: none;
    font-size: 2em;
    padding: 0;
    
    
    &:focus {
      outline: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modal {
  position: relative;
  padding: 3rem;
  background: #FFF;
  margin-top: 8rem;
  padding-bottom: 10%;
  margin-bottom: 10%;
  margin-right: 12rem;
  max-width: 1200px;
  min-height: 100%;
  
  @include bp-medium {
    margin: 0;
    padding: 1rem;
  }
  
  h3 {
    display: inline-block;
    border-bottom: 1px solid;
    margin-bottom: 0;
  }
  
  p {
      margin-top: 5px;
    }
  
  img {
    display: block;
  }
  
  &.contact-modal {
    color: #FFF;
    background: #2A2A2A;
    
    h3 {
      color: #FFF;
    }
    
    ul {
      margin-left: 0;
      margin:10px 0 1rem;
    }
    
    li {
      display: inline-block;
    }
    
    a {
      color: inherit;
    }
    
    .close-modal {
      color: #FFF;
    }
  }
}

.wrapper {
  .modal {
    margin-left: $leftPagePadding;
    
    @include bp-medium {
      margin: 0;
    }
  }
}

.modal-content {
  max-width: 1000px;
}

.work-detail {
  li {
    margin-bottom: 1rem;
  }
}

/*helper styles*/

.dp-none {
    display: none;
}

.dp-block {
    display: block;
}

