@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";

body {
  background: #FFF;
}

a {
  color: $jet;
}

.body-locked {
    overflow: hidden;
}

.full-page {
  position: relative;
  height: 100%;
}

.container {
  margin-left: 60px;
}
.hidden {
  opacity: 0;
}

.logo {
  float:left;
  h1 {
    font-size: 1rem;
  }
}

header {
  width: 100%;
  max-width: 1024px;
  padding: 20px 0;
  position: fixed;
  
  nav {
    float: right;
    ul {
      margin: 0;
    }
    
    li {
      float:left;
      list-style: none;
      margin-right: 5px;
    }
  }
}


.tagline {
  h2 {
    float: left;
    font-size: 1rem;  
    margin-left: 150px;
  }
}

.works-gallery {
  clear:both;
  padding-top: 100px;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  img {
//    max-width: 75%;
    vertical-align: bottom;
  }
  li {
    display: inline-block;
    margin: 0 20px 20px 0;
  }
}

// Modal Stuff

.modal-container {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0; 
  right: 0;
  height: 100%; 
  width: 100%;
  
  button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background: none;
    font-size: 2em;
    padding: 0;
    
    
    &:focus {
      outline: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modal {
  position: relative;
  padding: 20px 20% 200px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 200px auto 250px auto;
  background: #FFF;
  
  h3 {
    font-size: 1em;
    display: inline-block;
    border-bottom: 2px solid;
  }
  
  img {
    display: block;
  }
  
  &.contact-modal {
    color: #FFF;
    background: #2A2A2A;
    
    h3 {
      color: #FFF;
    }
    
    ul {
      margin-left: 0;
    }
    
    li {
      display: inline-block;
      
    }
    
    .close-modal {
      color: #FFF;
    }
  }
}

/*helper styles*/

.dp-none {
    display: none !important;
}

.dp-block {
    display: block !important;
}

