/********************
Global Variables & Mixins
********************/
/********************
Global Styles
********************/
@font-face {
  font-family: 'kunstuff';
  src: url("kunstuff_medium-webfont.eot");
  src: url("kunstuff_medium-webfont.eot?#iefix") format("embedded-opentype"), url("kunstuff_medium-webfont.woff2") format("woff2"), url("kunstuff_medium-webfont.woff") format("woff"), url("kunstuff_medium-webfont.ttf") format("truetype"), url("kunstuff_medium-webfont.svg#kunstuffmedium") format("svg");
  font-weight: medium;
  font-style: medium;
}
/* line 40, ../scss/app.scss */
html {
  font-size: 1.1rem;
  font-family: "kunstuff", serif;
}

/* line 45, ../scss/app.scss */
* {
  box-sizing: border-box;
}

/* line 49, ../scss/app.scss */
body {
  background: #FFF;
  padding-bottom: 6rem;
}

/* line 54, ../scss/app.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 59, ../scss/app.scss */
h1, h2, h3, h4, h5, h6, p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
}

/* line 65, ../scss/app.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 71, ../scss/app.scss */
img {
  max-width: 100%;
}

/********************
Utility Classes
********************/
/* line 79, ../scss/app.scss */
.wrapper {
  padding-left: 3rem;
}
@media only screen and (max-width: 40em) {
  /* line 79, ../scss/app.scss */
  .wrapper {
    padding-left: 0;
  }
}
/* line 86, ../scss/app.scss */
.wrapper .modal {
  margin-left: 3rem;
}

/********************
Page Header & Navigation
********************/
/* line 96, ../scss/app.scss */
.page-header {
  padding: 2rem 0;
  position: fixed;
  width: 100%;
}
@media only screen and (max-width: 40em) {
  /* line 96, ../scss/app.scss */
  .page-header {
    position: static;
  }
}
@media only screen and (max-width: 40em) {
  /* line 105, ../scss/app.scss */
  .page-header .desktop-header {
    display: none;
  }
}
/* line 111, ../scss/app.scss */
.page-header .wrapper {
  max-width: 1200px;
}
/* line 115, ../scss/app.scss */
.page-header .logo {
  float: left;
}
/* line 118, ../scss/app.scss */
.page-header .logo h1 {
  margin: 0;
}
/* line 121, ../scss/app.scss */
.page-header .logo img {
  height: .75rem;
}
/* line 126, ../scss/app.scss */
.page-header .tagline {
  float: left;
  position: relative;
  left: 200px;
}
/* line 131, ../scss/app.scss */
.page-header .tagline h2 {
  margin: 0;
}
@media only screen and (max-width: 60em) {
  /* line 126, ../scss/app.scss */
  .page-header .tagline {
    left: 50px;
  }
}
@media only screen and (max-width: 40em) {
  /* line 126, ../scss/app.scss */
  .page-header .tagline {
    left: 20px;
  }
}
/* line 144, ../scss/app.scss */
.page-header nav {
  float: right;
  line-height: 1.3;
}
/* line 148, ../scss/app.scss */
.page-header nav li {
  display: inline-block;
}
/* line 153, ../scss/app.scss */
.page-header .mobile-header {
  padding: 0 10px;
}
@media only screen and (min-width: 40em) {
  /* line 153, ../scss/app.scss */
  .page-header .mobile-header {
    display: none;
  }
}
/* line 160, ../scss/app.scss */
.page-header .mobile-header select {
  width: 100%;
}
/* line 164, ../scss/app.scss */
.page-header .mobile-header .logo img {
  width: 100%;
  height: auto;
}

/********************
Image Gallery
********************/
/* line 175, ../scss/app.scss */
.works-gallery {
  clear: both;
  padding-top: 6.25rem;
}
@media only screen and (max-width: 40em) {
  /* line 175, ../scss/app.scss */
  .works-gallery {
    padding-top: 0;
  }
}
/* line 183, ../scss/app.scss */
.works-gallery img {
  vertical-align: bottom;
}
/* line 187, ../scss/app.scss */
.works-gallery li {
  display: inline-block;
  margin: 0 20px 20px 0;
}
@media only screen and (max-width: 40em) {
  /* line 187, ../scss/app.scss */
  .works-gallery li {
    margin: 5px 10px;
  }
}

/********************
Page Footer
********************/
@media only screen and (max-width: 40em) {
  /* line 201, ../scss/app.scss */
  footer {
    padding-left: 10px;
  }
}

/* line 210, ../scss/app.scss */
.body-locked {
  overflow: hidden;
}

/* line 214, ../scss/app.scss */
.modal-container {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 223, ../scss/app.scss */
.modal-container button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background: none;
  font-size: 2em;
  padding: 0;
}
/* line 233, ../scss/app.scss */
.modal-container button:focus {
  outline: 0;
}
/* line 236, ../scss/app.scss */
.modal-container button:hover {
  cursor: pointer;
}

/* line 242, ../scss/app.scss */
.modal {
  position: relative;
  padding: 3rem;
  background: #FFF;
  margin-top: 8rem;
  padding-bottom: 20%;
  margin-right: 12rem;
  max-width: 1200px;
  min-height: 100%;
}
/* line 252, ../scss/app.scss */
.modal h3 {
  display: inline-block;
  border-bottom: 1px solid;
  margin-bottom: 0;
}
/* line 258, ../scss/app.scss */
.modal p {
  margin-top: 5px;
}
/* line 262, ../scss/app.scss */
.modal img {
  display: block;
}
/* line 266, ../scss/app.scss */
.modal.contact-modal {
  color: #FFF;
  background: #2A2A2A;
}
/* line 270, ../scss/app.scss */
.modal.contact-modal h3 {
  color: #FFF;
}
/* line 274, ../scss/app.scss */
.modal.contact-modal ul {
  margin-left: 0;
  margin: 10px 0 1rem;
}
/* line 279, ../scss/app.scss */
.modal.contact-modal li {
  display: inline-block;
}
/* line 283, ../scss/app.scss */
.modal.contact-modal a {
  color: inherit;
}
/* line 287, ../scss/app.scss */
.modal.contact-modal .services-section {
  margin-bottom: 100px;
}
/* line 291, ../scss/app.scss */
.modal.contact-modal .close-modal {
  color: #FFF;
}

/* line 297, ../scss/app.scss */
.modal-content {
  max-width: 1000px;
}

/*helper styles*/
/* line 303, ../scss/app.scss */
.dp-none {
  display: none;
}

/* line 307, ../scss/app.scss */
.dp-block {
  display: block;
}
